.first{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(pic4.jpg);
}

.image1{
    border-radius: 40px;
    display:inline-flex;
}
.inner{
    height: 500px;
    width: 400px;
    box-shadow: 0 0 40px 20px rgba(93, 90, 90, 0.26);
    display: flex;
    flex-direction: column;
}